this must to be in your folder

MONGO_URI=mongodb://localhost:27017
DB_NAME=library_db
COLLECTION_NAME=names {book, member, borrow, review, staff, reservation}
PORT=you_can_put_here_in_which_port_you_want_to_run_your_service

| Book Service        | 8001 |
| Member Service      | 8002 |
| Borrow Service      | 8003 | 
| Review Service      | 8004 |
| Staff Service       | 8005 |
| Reservation Service | 8006 |